# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID=AWBs_1EECCSTnax4ynrl6EKB4GfbwHqRMvK4HjsOQQT-VgQ8jk1bh8XZBt-LnAYtXaz7nltfJG1lJy2L
PAYPAL_CLIENT_SECRET=EDse30MNeG55pTNSQz7iqTbOahGTjrs2jiZWstnhhcF9K-06w2lzCN4FDKZEiMKWMjLJmpRI0mW9i9LM
PAYPAL_CLIENT_SECRET2=EDse30MNeG55pTNSQz7iqTbOahGTjrs2jiZWstnhhcF9K-06w2lzCN4FDKZEiMKWMjLJmpRI0mW9i9LM